In [1]:
colors = ["red", "blue", "green"]

for color in colors:
    print("i like", color)

i like red
i like blue
i like green

In [2]:
coordinates = (10, 20, 30)

for value in coordinates:
    print("coordinate value:", value)

coordinate value: 10
coordinate value: 20
coordinate value: 30

In [3]:
word = "code"

for letter in word:
    print(letter)

c
o
d
e

In [4]:
student = {"name": "alex", "age": 21, "grade": "a"}

for key in student:
    print("key:", key)

key: name
key: age
key: grade

In [5]:
student = {"name": "alex", "age": 21, "grade": "a"}

for value in student.values():
    print("value:", value)

value: alex
value: 21
value: a

In [6]:
student = {"name": "alex", "age": 21, "grade": "a"}

for key, value in student.items():
    print(key, "->", value)

name -> alex
age -> 21
grade -> a

In [7]:
fruits = {"apple", "banana", "mango"}

for fruit in fruits:
    print("fruit:", fruit)

fruit: apple
fruit: mango
fruit: banana

In [8]:
for number in range(1, 6):
    print("number:", number)

number: 1
number: 2
number: 3
number: 4
number: 5

In [9]:
animals = ["cat", "dog", "rabbit"]

for index, animal in enumerate(animals):
    print(index, animal)

0 cat
1 dog
2 rabbit

In [10]:
names = ["anna", "ben", "cara"]
scores = [85, 90, 88]

for name, score in zip(names, scores):
    print(name, "scored", score)

anna scored 85
ben scored 90
cara scored 88